<!DOCTYPE html>
<html>

<head>
    <title>SocketIO-DEMO</title>

    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/socket.io.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/chat.js"></script>
</head>

<body>

    <fieldset>
        <legend>Demo chat realtime NodeJS</legend>
        <div id='message-alert' style="display: none"></div>
        <div id="connect-form">
            <input type="text" id="username" name="username" placeholder="Enter name">
            <br>
            <button id='connect-btn'>Connect</button>
        </div>

        <div id="chat-body" style="display: none;">
            <h3 id='hello-title'></h3>
            <div id="content" style="border: 1px solid #ddd;padding: 5px"></div>
            <input id="message" placeholder="Write something..">
            <br>
            <button id="send-btn">Send</button>
            <div>
                <ul id="list-user-active">
                    List user active:

                </ul>
            </div>
            <button id='logout-btn'>Logout</button>
        </div>
        
    </fieldset>

</body>

</html>