#content {
    border: 1px solid darkgrey;
    width: 400px;
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
}

#content p {
    margin: 5px;
}

#username, #content, #message, #sendMessage {
    margin-bottom: 5px;
}

#connect-form{
	width: 500px;
	border: 1px solid #ccc;
	padding: 15px;
}

#chat-body{
	width: 500px;
	border: 1px solid #ccc;
	padding: 15px;
}